In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
client = MongoClient("localhost:27017")
db = client["Ironhack"]
c = db.get_collection("Companies")

In [3]:
result = c.find_one()

In [4]:
condition_one = {"description": {"$regex": "design"}}
condition_two = {"tag_list": {"$regex": "design"}}
condition_three = {"name": {"$regex": "design"}}
condition_four = {"category_code": {"$regex": "design"}}
condition_five = {"total_money_raised": {"$regex": "M"}}
condition_six = {"total_money_raised": {"$regex": "B"}}

projection = {"name": 1, "number_of_employees": 1, "offices": 1,"_id":0}
result = list(c.find({
    "$or": [
         condition_one,
          condition_two, condition_three,
            condition_four,
          condition_five,condition_six
    ],
    "number_of_employees": {"$gte": 100}
}, projection))
len(result)

511

,name,number_of_employees,offices
0,Facebook,5299,"[{'description': 'Headquarters', 'address1': '..."
1,Twitter,1300,"[{'description': '', 'address1': '1355 Market ..."
2,eBay,15000,"[{'description': 'Headquarters', 'address1': '..."
3,Cisco,63000,"[{'description': 'Headquarters', 'address1': '..."
4,Yahoo!,13600,"[{'description': None, 'address1': '701 First ..."
...,...,...,...
506,Enliven Marketing Technologies,146,"[{'description': 'HQ', 'address1': '205 West 3..."
507,800APP,200,"[{'description': '', 'address1': 'Suite 1308,T..."
508,InfoLogix,206,"[{'description': '', 'address1': '101 East Cou..."
509,smartFOCUS,550,"[{'description': '', 'address1': 'One Redcliff..."
510,OfficialVirtualDJ,102,"[{'description': 'Created in London', 'address..."