In [1]:
from pymongo import MongoClient
import pandas as pd
import functions as fun
import os
from dotenv import load_dotenv
# import requests
# import re

In [2]:
client = MongoClient("localhost:27017")
db = client["Ironhack"]
c = db.get_collection("Companies")

In [3]:
result = c.find_one()

In [5]:


condition_one = {"description": {"$regex": "design"}}
condition_two = {"tag_list": {"$regex": "design"}}
condition_three = {"name": {"$regex": "design"}}
condition_four = {"category_code": {"$regex": "design"}}
condition_five = {"total_money_raised": {"$regex": "M"}}
condition_six = {"total_money_raised": {"$regex": "B"}}

projection = {"name": 1, "number_of_employees": 1, "offices": 1,"_id":0}
result = list(c.find({
    "$or": [condition_one, condition_two, condition_three, condition_four, condition_five, condition_six],
    "number_of_employees": {"$gte": 100}
}, projection))
len(result)

511

In [5]:
df = pd.DataFrame(result)

In [6]:
list_offices = df["offices"]
list_offices[1][0]

{'description': '',
 'address1': '1355 Market St.',
 'address2': '',
 'zip_code': '94103',
 'city': 'San Francisco',
 'state_code': 'CA',
 'country_code': 'USA',
 'latitude': 37.7768052,
 'longitude': -122.4169244}

In [8]:
fun.get_info(list_offices, df,  "Country", "country_code")

In [9]:
fun.get_info(list_offices, df,"Zip_code", "zip_code")

In [10]:
fun.get_info(list_offices, df,"City", "city")

In [11]:
fun.get_info(list_offices, df,"Address", "address1")

In [12]:
fun.get_info(list_offices, df,"Lat", "latitude")

In [13]:
fun.get_info(list_offices, df,"Long", "longitude")

In [14]:
fun.drop_column(df, "offices")

In [15]:
fun.drop_nan(df)

In [16]:
df

,name,number_of_employees,Country,Zip_code,City,Address,Lat,Long
0,Facebook,5299,USA,94025,Menlo Park,1601 Willow Road,37.41605,-122.151801
1,Twitter,1300,USA,94103,San Francisco,1355 Market St.,37.776805,-122.416924
2,eBay,15000,USA,95125,San Jose,2145 Hamilton Avenue,37.295005,-121.930035
3,Cisco,63000,USA,95134,San Jose,170 West Tasman Dr.,37.408802,-121.95377
4,Yahoo!,13600,USA,94089,Sunnyvale,701 First Avenue,37.418531,-122.025485
...,...,...,...,...,...,...,...,...
380,Mashable,100,USA,10010-3646,New York,304 Park Ave South,40.740154,-73.986742
381,SpringSoft,400,USA,95110,San Jose,"2025 Gateway Place, Suite 400",37.37027,-121.924053
382,MentorMate,216,USA,55408,Minneapolis,3036 Hennepin Avenue,44.948786,-93.161038
383,InfoLogix,206,USA,19040,Hatboro,101 East County Line Road,40.192329,-75.106923
384,smartFOCUS,550,GBR,BS1 6NP,Bristol,One Redcliff Street,51.452512,-2.590974

In [17]:
# df.to_csv("../data/df.csv", index=False)