In [1]:
from pymongo import MongoClient
import pandas as pd
import functions as fun
import os
from dotenv import load_dotenv

In [2]:
df = pd.read_csv("../Data/df.csv")
df.sample()

,name,number_of_employees,Country,Zip_code,City,Address,Lat,Long,City_count
8,Yelp,800,USA,94103,San Francisco,706 Mission Street,37.786183,-122.402195,50.0

In [3]:
df["Country"].value_counts()

USA    186
GBR      8
FRA      6
Name: Country, dtype: int64

In [4]:
df["City"].value_counts()

San Francisco    50
New York         30
San Jose         16
Mountain View    16
San Mateo        11
Palo Alto        11
Sunnyvale         9
Seattle           8
London            8
Redwood City      7
Chicago           7
Cambridge         6
Paris             6
Austin            5
Waltham           5
Los Angeles       5
Name: City, dtype: int64

In [5]:
fun.value_counts(df, "City_count", "City")

In [6]:
df = fun.keep_value(df, "City_count", 5.0)

In [7]:
df["City"].value_counts()

San Francisco    50
New York         30
San Jose         16
Mountain View    16
San Mateo        11
Palo Alto        11
Sunnyvale         9
Seattle           8
London            8
Redwood City      7
Chicago           7
Cambridge         6
Paris             6
Austin            5
Waltham           5
Los Angeles       5
Name: City, dtype: int64

In [8]:
# df.to_csv("../data/df.csv", index=False)

# Trying to keep different cities in different areas, we are going to keep for check the cities of San Francisco(USA), Seattle(USA), Chicago(USA), London(UK) and Cambridge(USA).

In [9]:
San_Francisco = 37.7871253,-122.4015358
Seattle = 47.6251419,-122.3268577
Chicago = 41.869276, -87.626694
London = 51.4621272,-0.1162654
Cambridge_USA = 42.3731956,-71.1198561

In [10]:
sub_SF = fun.do_subset(df, "San Francisco")
sub_SF.to_csv("../data/sub_SF.csv", index=False)

sub_SE = fun.do_subset(df, "Seattle")
sub_SE.to_csv("../data/sub_SE.csv", index=False)

sub_CH = fun.do_subset(df, "Chicago")
sub_CH.to_csv("../data/sub_CH.csv", index=False)

sub_LO = fun.do_subset(df, "London")
sub_LO.to_csv("../data/sub_LO.csv", index=False)

sub_CA = fun.do_subset(df, "Cambridge")
sub_CA.to_csv("../data/sub_CA.csv", index=False)