In [1]:
from pymongo import MongoClient
import pandas as pd
import functions as fun
import os
from dotenv import load_dotenv

In [2]:
df = pd.read_csv("../Data/df.csv")
df

,name,number_of_employees,Country,Zip_code,City,Address,Lat,Long
0,Facebook,5299,USA,94025,Menlo Park,1601 Willow Road,37.416050,-122.151801
1,Twitter,1300,USA,94103,San Francisco,1355 Market St.,37.776805,-122.416924
2,eBay,15000,USA,95125,San Jose,2145 Hamilton Avenue,37.295005,-121.930035
3,Cisco,63000,USA,95134,San Jose,170 West Tasman Dr.,37.408802,-121.953770
4,Yahoo!,13600,USA,94089,Sunnyvale,701 First Avenue,37.418531,-122.025485
...,...,...,...,...,...,...,...,...
380,Mashable,100,USA,10010-3646,New York,304 Park Ave South,40.740154,-73.986742
381,SpringSoft,400,USA,95110,San Jose,"2025 Gateway Place, Suite 400",37.370270,-121.924053
382,MentorMate,216,USA,55408,Minneapolis,3036 Hennepin Avenue,44.948786,-93.161038
383,InfoLogix,206,USA,19040,Hatboro,101 East County Line Road,40.192329,-75.106923
384,smartFOCUS,550,GBR,BS1 6NP,Bristol,One Redcliff Street,51.452512,-2.590974

In [3]:
df["Country"].value_counts()

USA    315
GBR     11
FRA      9
CAN      9
DEU      7
IND      5
ESP      4
NLD      3
CHN      2
BRA      2
CZE      1
PAK      1
BEL      1
DNK      1
ARG      1
HUN      1
LUX      1
MYS      1
SWE      1
FIN      1
SGP      1
ISR      1
Name: Country, dtype: int64

In [4]:
df["City"].value_counts()

San Francisco    50
New York         30
San Jose         16
Mountain View    16
Palo Alto        11
                 ..
Buenos Aires      1
Dallas            1
Philadelphia      1
Miami             1
Hatboro           1
Name: City, Length: 140, dtype: int64

In [5]:
fun.value_counts(df, "City_count", "City")

In [6]:
df = fun.keep_value(df, "City_count", 5.0)
df

,name,number_of_employees,Country,Zip_code,City,Address,Lat,Long,City_count
0,Twitter,1300,USA,94103,San Francisco,1355 Market St.,37.776805,-122.416924,50.0
1,eBay,15000,USA,95125,San Jose,2145 Hamilton Avenue,37.295005,-121.930035,16.0
2,Cisco,63000,USA,95134,San Jose,170 West Tasman Dr.,37.408802,-121.953770,16.0
3,Yahoo!,13600,USA,94089,Sunnyvale,701 First Avenue,37.418531,-122.025485,9.0
4,Google,28000,USA,NaN,Mountain View,1600 Amphitheatre Parkway,37.421972,-122.084143,16.0
...,...,...,...,...,...,...,...,...,...
180,OpTier,150,USA,10118,New York,350 Fifth Avenue,40.754937,-73.985647,30.0
181,Maxymiser,250,USA,10012,New York,532 Broadway,55.948559,-3.215139,30.0
182,Solairedirect,150,FRA,75008,Paris,85 boulevard Haussmann,48.874595,2.321074,6.0
183,Mashable,100,USA,10010-3646,New York,304 Park Ave South,40.740154,-73.986742,30.0
184,SpringSoft,400,USA,95110,San Jose,"2025 Gateway Place, Suite 400",37.370270,-121.924053,16.0

In [8]:
df["City"].value_counts()

San Francisco    50
New York         30
San Jose         16
Mountain View    16
San Mateo        11
Palo Alto        11
Sunnyvale         9
Seattle           8
London            8
Redwood City      7
Chicago           7
Cambridge         6
Paris             6
Name: City, dtype: int64