In [1]:
from pymongo import MongoClient
import pandas as pd
import functions as fun
import os
from dotenv import load_dotenv

In [17]:
df = pd.read_csv("../Data/df.csv")
df.sample()

,name,number_of_employees,Country,Zip_code,City,Address,Lat,Long,City_count
116,NetSpend,300,USA,78768-2136,Austin,PO Box 2136,30.2667,-97.7428,5.0

In [3]:
df["Country"].value_counts()

USA    315
GBR     11
FRA      9
CAN      9
DEU      7
IND      5
ESP      4
NLD      3
CHN      2
BRA      2
CZE      1
PAK      1
BEL      1
DNK      1
ARG      1
HUN      1
LUX      1
MYS      1
SWE      1
FIN      1
SGP      1
ISR      1
Name: Country, dtype: int64

In [4]:
df["City"].value_counts()

San Francisco    50
New York         30
San Jose         16
Mountain View    16
Palo Alto        11
                 ..
Buenos Aires      1
Dallas            1
Philadelphia      1
Miami             1
Hatboro           1
Name: City, Length: 140, dtype: int64

In [5]:
fun.value_counts(df, "City_count", "City")

In [6]:
df = fun.keep_value(df, "City_count", 5.0)

In [7]:
df["City"].value_counts()

San Francisco    50
New York         30
San Jose         16
Mountain View    16
San Mateo        11
Palo Alto        11
Sunnyvale         9
Seattle           8
London            8
Redwood City      7
Chicago           7
Cambridge         6
Paris             6
Austin            5
Waltham           5
Los Angeles       5
Name: City, dtype: int64

In [8]:
# df.to_csv("../data/df.csv", index=False)

# Trying to keep different cities in different areas, we are going to keep for check the cities of San Francisco(USA), Seattle(USA), Chicago(USA), London(UK), Austin(USA) Cambridge(USA), Paris(FRA).

In [ ]:
San_Francisco = 37.7871253,-122.4015358
Seattle = 47.6251419,-122.3268577
Chicago = 41.869276, -87.626694
London = 51.4621272,-0.1162654
Austin = 30.2663643,-97.744405
Cambridge = 42.3731956,-71.1198561
Paris = 48.8848037,2.3318758